@font-face {
	font-family: "Torus Regular";
	src: url("./fonts/Torus-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Torus SemiBold";
	src: url("./fonts/Torus-SemiBold.otf") format("opentype");
}

body {
	font-family: "Torus Regular", Arial;
	font-size: 20px;
	text-align: center;
	color: #FFCC66;
	background-color: #FFCC66;
	background-image: url("./images/background.png");
	margin: 0px;
}

#nav_bar_toggle {
	position: fixed;
	top: 10%;
	cursor: pointer;
	background-color: #140D04;
	border: 2px solid;
	border-left: 0px none;
}

#nav_bar_toggle p {
	margin: 0px 10px;
}

#nav_bar {
	display: none;
	overflow-y: auto;
	height: 100%;
	width: 300px;
	position: fixed;
	background-color: #140D04;
	border-right: 2px solid;
}

#stats p, .checkbox, .all_button {
	display: block;
	margin: 10px;
	border: 2px solid;
}

.checkbox {
	color: black;
	background-color: #FFCC66;
}

.all_button {
	color: #FEAB37;
}

#stats p {
	border-radius: 20px;
}

input {
	display: none;
}

.checkbox:hover, .all_button:hover {
	font-size: 110%;
}

label {
	display: block;
	width: 100%;
	cursor: pointer;
}

#center {
	display: inline-block;
	background-color: #271C1C;
	min-height: 100vh;
	margin: 0px 200px 0px 200px;
}

#upper {
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
	margin-bottom: 0px;
}

h4 {
	margin-top: 15px;
}

.card_container {
	display: inline-flex;
	margin: 20px;
	width: 430px;
	border-radius: 10%;
}

.card {
	font-family: "Torus SemiBold", Arial;
	font-size: 33px;
	display: inline-block;
	width: 100%;
	border-radius: 25px;
	background-color: #FFCC66;
	color: #271C1C;
	text-align: center;
}

.card tbody {
	display: block;
	height: 115px;
}

.pfp {
	height: 96px;
	width: 96px;
	margin-right: 10px;
	margin-left: 8px;
	padding-bottom: 4px;
	border-radius: 25%;
}

.username {
	padding-top: 20px;
	margin-right: 8px;
	float: left;
}

.below_username {
	padding-bottom: 30px;
	margin-right: 8px;
	font-size: 20px;
	float: left;
}

.flag {
	width: 40px;
	float: left;
	margin-right: 10px;
}

.primary_role {
	margin-left: 54px;
	margin-top: 0px;
	border: 3px solid black;
	padding: 0px 17px 4px 17px;
	line-height: 18px;
	background-color: #271C1C;
	color: #FFCC66;
	text-transform: capitalize;
	border-radius: 20px;
}

.roles {
	text-align: left;
	margin-left: 6px;
	margin-right: 6px;
}

.secondary_role {
	display: inline-block;
	vertical-align: super;
	margin-left: 9px;
	margin-right: 9px;
	border: 3px solid black;
	font-size: 20px;
	padding: 0px 10px 4px 10px;
	line-height: 18px;
	background-color: #271C1C;
	color: #FFCC66;
	text-transform: capitalize;
	border-radius: 20px;
}

table a {
	display: block;
	background-color: #FEAB37;
	color: #271C1C;
	border-radius: 0px 0px 25px 25px;
	height: 25px;
	padding: 8px 0px;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
}

#center p {
	font-size: 17px;
}

#center p a {
	color: #FFCC66;
}


@media screen and (max-width: 1400px) {
	#center {
		margin: 0px;
	}
}

@media screen and (max-width: 1281px) {
	.card_container {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	.card_container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.card {
		margin-left: 10px;
		margin-right: 10px;
	}
	#nav_bar_toggle {
		top: 17%;
	}
	.username {
		margin-right: 0px;
	}
}

@media screen and (max-width: 374px) {
	.card {
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (max-height: 750px) {
	#stats p, .checkbox, .all_button {
		margin: 2%;
		font-size: 90%;
	}
}
