@font-face {
	font-family: "Torus Regular";
	src: url("./Torus-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Torus SemiBold";
	src: url("./Torus-SemiBold.otf") format("opentype");
}

body {
	font-family: "Torus Regular", Arial;
	font-size: 20px;
	text-align: center;
	color: #FFCC66;
	background-color: #FFCC66;
	background-image: url("background.png");
	margin: 0px 200px 0px 200px;
}

#center {
	display: inline-block;
	background-color: #271C1C;
	height: 100vh;
}

.user {
	margin: 20px;
	width: 400px;
	border-radius: 10%;
}

.card_head {
	font-family: "Torus SemiBold", Arial;
	font-size: 33px;
	display: inline-block;
	width: 100%;
	border-radius: 25px;
	background-color: #FFCC66;
	color: #271C1C;
	text-align: center;
	cursor: pointer;
}

.username {
	padding-top: 20px;
	float: left;
}

.pfp {
	height: 96px;
	width: 96px;
	margin-top: 8px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 25%;
}


.flag_holder {
	padding-bottom: 30px;
	font-size: 20px;
	float: left;
}

.flag {
	width: 40px;
	float: left;
	margin-right: 10px;
}

.primary_role {
	margin-left: 60px;
	margin-top: 0px;
	padding: 0px 10px 4px 10px;
	background-color: #271C1C;
	color: #FFCC66;
	text-transform: capitalize;
	border-radius: 20px;
}

.card_body {
	text-align: center;
}

.role {
	text-transform: capitalize;
}

a {
	color: #271C1C;
	font-weight: normal;
}
