body {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	color: #271C1C;
	background-color: #271C1C;
	margin: 0px 200px 0px 200px;
}

#center {
	background-color: #FFCC66;
}

@media screen and (max-width: 900px) {
	body {
		margin: 0px;
	}
}

.staff_role {
	margin-bottom: 40px;
}

h2 {
	text-transform: capitalize;
}

.member {
	margin: 0px 0px 10px 0px;
}

.first h2 {
	margin-top: 0px;
	padding-top: 24.9px; 
}

.last {
	margin-bottom: 0px;
	padding-bottom: 40px;
}

a {
	background-color: #271C1C;
	color: #D3A04C;
	position: relative;
	display: inline-block;
	padding-right: 222px;
}

a img {
	width: 80px;
	margin: 4px 10px 0px 4px;
}

a span {
	position: absolute;
	top: 35%;
	right: 10%;
}
